[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qml-msgbox-18788039
Exec=/usr/bin/single-instance /opt/qml-msgbox-18788039/bin/qml-msgbox-18788039
Icon=/usr/share/icons/hicolor/80x80/apps/qml-msgbox-1878803980.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
